//--------------------------------------------------
// variables
//--------------------------------------------------
//
// - colours
// - dimensions
// - fonts
// - buttons
//
//--------------------------------------------------
// colours
//--------------------------------------------------
$black: #000000;

$blue-faint: #33548F;
$blue: #33548F;
$blue-dark: #172A4D;

$grey-light: #f0f0f0;
$grey: rgba(#293039, .1);

$green: #398439;

//--------------------------------------------------
// dimensions
//--------------------------------------------------
$site-width: rem-calc(1200);
