<div class="resource flex space-between">
  <div class="resource__content flex-3-fiths">
    <h3><%= resource[:title] %></h3>
    <p><%= resource[:content] %></p>

    <% if resource[:url] %>
      <%= link_to 'Further information', resource[:url], title: "Further information about #{resource[:title]}", target: '_blank', class: 'button--link button--link-chevron' %>
    <% end %>
  </div>
  
  <% if resource[:image] %>
    <%= image_tag resource[:image], width: 315, height: 177, class: "resource__image" %>
  <% end %>
</div>