//--------------------------------------------------
// html elements
//--------------------------------------------------
* { 
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $body-font;
  margin: 0;
}

h1 {
  color: white;
  font-size: rem-calc(48);
  margin: 0;
}

h2 { margin: rem-calc(0 0 10 0); }

h3 { 
  font-size: rem-calc(16);
  margin: rem-calc(0 0 16 0);
}

p { margin-top: 0; }

a { 
  color: $body-font-color; 
  
  &:hover { text-decoration: none; }
}

//--------------------------------------------------
// site structure
//--------------------------------------------------
.site-width { width: $site-width; }

.container {
  @extend .site-width;

  margin: 0 auto;

  &--medium {
    margin: 0 auto;
    width: $site-width-medium;
  }

  &--small {
    margin: 0 auto;
    width: $site-width-small;
  }
}

//--------------------------------------------------
// site padding
//--------------------------------------------------
.padding--page-top { padding-top: rem-calc(42); }

.padding--page {
  @extend .padding--page-top;
  padding-right: rem-calc(20);
  padding-bottom: rem-calc(120);
  padding-left: rem-calc(20);
}

.padding--content-bottom {
  padding-bottom: rem-calc(40);
}