//--------------------------------------------------
// html elements
//--------------------------------------------------
* { 
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $body-font;
  margin: 0;
}

main {
  display: block; //ie fix
}

h1 {
  color: white;
  font-size: rem-calc(26);
  margin: 0;

  @include breakpoint($small) { font-size: rem-calc(42); }
  @include breakpoint($medium) { font-size: rem-calc(48); }
}

h2 { 
  font-size: rem-calc(22);
  margin: rem-calc(0 0 10 0);

  @include breakpoint($small) { font-size: rem-calc(24); }

  &.heading--home {
    font-size: rem-calc(26);
    margin: 0 0 .6em 0;

    @include breakpoint($small) { font-size: rem-calc(36); }
  }
}

h3 { 
  font-size: rem-calc(16);
  line-height: $header-lh;
  margin: rem-calc(0 0 16 0);

  &.heading--theme {
    font-size: rem-calc(22);
    margin: rem-calc(14 0 10 0);

    @include breakpoint($small) { font-size: rem-calc(24); }
    
    @include breakpoint($medium) { min-height: calc(2 * #{$header-lh} * 24px); }
  }
}

p { 
  margin-top: 0; 

  a {
    font-weight: bold;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }
}

a { 
  color: $body-font-color; 
  
  &:hover { text-decoration: none; }

  &.external {
    color: $blue-link;
    font-weight: 400;
    text-decoration: underline;

    &:hover { text-decoration: none; }
  }
}

emphasis { font-style: italic; }

//--------------------------------------------------
// site structure - reusable styles/mixins
//--------------------------------------------------
@mixin gutters($sides:'both', $type:'padding') {
  $sides: if($sides == 'both', ('left', 'right'), ($sides));

  @each $s in $sides {
    #{$type}-#{$s}: $gutter-small;

    @include breakpoint($small) { #{$type}-#{$s}: $gutter-medium; }
    @include breakpoint($medium) { #{$type}-#{$s}: $gutter-large; }
  }
}

@mixin item-padding($sides:'all', $type:'padding') {
  $sides: if($sides == 'all', ('top','bottom','left','right'), ($sides));

  @each $s in $sides {
    #{$type}-#{$s}: $item-padding-small;

    @include breakpoint($small) { #{$type}-#{$s}: $item-padding-medium; }
    @include breakpoint($medium) { #{$type}-#{$s}: $item-padding-large; }
  }
}

%container {
  @include gutters('both', 'padding');

  margin: 0 auto;
  width: 100%;
}

//--------------------------------------------------
// site structure
//--------------------------------------------------
.site-width {
  @include breakpoint($medium) { width: $site-width; }
}

.site-width-small {
  @include breakpoint($medium) { width: $site-width-small; }
}

.site-width-medium {
  @include breakpoint($medium) { width: $site-width-medium; }
}

.gutter {
  &-left {
    @include gutters('left');
  }

  &-right {
    @include gutters('right');
  }
}

.gutters {
  @include gutters;
}

.container {
  @extend .site-width;
  @extend %container;

  &--small {
    @extend .site-width-small;
    @extend %container;
  }

  &--medium {
    @extend .site-width-medium;
    @extend %container;
  }
}

//--------------------------------------------------
// site padding
//--------------------------------------------------
.padding--page-top { 
  padding-top: rem-calc(18);
  @include breakpoint($small) { padding-top: rem-calc(42); }
}

.padding--page {
  @extend .padding--page-top;
  padding-bottom: rem-calc(18);
  
  @include breakpoint($small) { 
    padding-right: rem-calc(20);
    padding-bottom: rem-calc(120);
    padding-left: rem-calc(20);
  }
}

.padding--content-bottom {
  padding-bottom: rem-calc(40);
}

//--------------------------------------------------
// section padding
//--------------------------------------------------
.section-padding--top {
  padding-top: $section-padding-top-mobile;
  @include breakpoint($small) { padding-top: $section-padding-top-tablet; }
  @include breakpoint($medium) { padding-top: $section-padding-top-desktop; }
}

.section-padding--bottom {
  padding-bottom: $section-padding-bottom-mobile;
  @include breakpoint($small) { padding-bottom: $section-padding-bottom-tablet; }
  @include breakpoint($medium) { padding-bottom: $section-padding-bottom-desktop; }
}

.section-padding {
  @extend .section-padding--top;
  @extend .section-padding--bottom;
}

//--------------------------------------------------
// item padding
//--------------------------------------------------
.item-padding { @include item-padding(); }

.item-padding--sides {
  @include item-padding('left', 'right');
}

.item-padding--top { @include item-padding('top'); }
.item-padding--bottom { @include item-padding('bottom'); }

.item-margin { @include item-padding('all', 'margin'); }

.item-margin--top { @include item-padding('top', 'margin'); }
.item-margin--bottom { @include item-padding('bottom', 'margin'); }