//--------------------------------------------------
// html elements
//--------------------------------------------------
* { 
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $body-font;
  margin: 0;
}

h1 {
  color: white;
  font-size: rem-calc(26);
  margin: 0;

  @include breakpoint($small){ font-size: rem-calc(42); }
  @include breakpoint($medium){ font-size: rem-calc(48); }
}

h2 { 
  font-size: rem-calc(22);
  margin: rem-calc(0 0 10 0); 

  @include breakpoint($small){ font-size: rem-calc(24); }
}

h3 { 
  font-size: rem-calc(16);
  margin: rem-calc(0 0 16 0);
}

p { margin-top: 0; }

a { 
  color: $body-font-color; 
  
  &:hover { text-decoration: none; }
}

//--------------------------------------------------
// site structure
//--------------------------------------------------
.site-width { 
  @include breakpoint($medium) { width: $site-width; } 
}

.container {
  margin: 0 auto;
  padding: rem-calc(0 $gutter-small);
  width: 100%;

  @include breakpoint($medium){ 
    @extend .site-width;
    padding: rem-calc(0 $gutter-medium); 
  }

  &--medium {
    margin: 0 auto;
    padding: rem-calc(0 $gutter-small);
    width: 100%;

    @include breakpoint($small){ width: 85%; }

    @include breakpoint($medium){ 
      padding: rem-calc(0 $gutter-medium); 
      width: $site-width-medium;
    }
  }

  &--small {
    margin: 0 auto;
    padding: rem-calc(0 $gutter-small);
    width: 100%;
    
    @include breakpoint($small){ width: 65%; }

    @include breakpoint($medium){ 
      padding: rem-calc(0 $gutter-medium); 
      width: $site-width-small;
    } 
  }
}

//--------------------------------------------------
// site padding
//--------------------------------------------------
.padding--page-top { 
  padding-top: rem-calc(18);
  @include breakpoint($small){ padding-top: rem-calc(42); }
}

.padding--page {
  @extend .padding--page-top;
  padding-bottom: rem-calc(18);
  
  @include breakpoint($small){ 
    padding-right: rem-calc(20);
    padding-bottom: rem-calc(120);
    padding-left: rem-calc(20);
  }
}

.padding--content-bottom {
  padding-bottom: rem-calc(40);
}