//--------------------------------------------------
// helpers
//--------------------------------------------------
// - colours
// - font
// - margin
// - lists
// - positioning
//
//--------------------------------------------------
// colours
//--------------------------------------------------
.background--grey { background-color: $grey-light; }
.background--marine-spatial-planning { background-color: $theme-1; }
.background--education { background-color: $theme-2; }
.background--ecosystem-assessment { background-color: $theme-3; }
.background--environmental-impact-assessment { background-color: $theme-4; }
.background--ecosystem-services { background-color: $theme-5; }

//--------------------------------------------------
// font
//--------------------------------------------------
.bold { font-weight: bold; }
.italic { font-style: italic; }
.text-center { text-align: center; }
.intro { line-height: 1.8; }

//--------------------------------------------------
// margin & padding
//--------------------------------------------------
.no-margin--top { margin-top: 0; }
.no-margin { margin: 0; }
.margin-center { margin: 0 auto; }

//--------------------------------------------------
// lists
//--------------------------------------------------
.ul-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ul-2-columns {
  @extend .flex;
  @extend .flex-wrap;
  margin-top: rem-calc(26);
  padding-left: rem-calc(20);

  @include breakpoint($small){ padding-left: 0; }

  li {
    margin-bottom: rem-calc(14);
    padding-right: rem-calc(26);

    @include breakpoint($small){
      flex: 0 1 48%;
      margin-left: 2%;
    }
  }
}

//--------------------------------------------------
// positioning
//--------------------------------------------------
.relative { position: relative; }
.center { text-align: center; }
.right { text-align: right; }
.inline-block { display: inline-block; }
.float-left { float: left; }

.vertical-center { 
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
}

.hide { display: none; }

.height-100 { height: 100%; }