//--------------------------------------------------
// helpers
//--------------------------------------------------
// - font
// - lists
// - positioning
//
//--------------------------------------------------
// bold
//--------------------------------------------------
.bold { font-weight: bold; }

//--------------------------------------------------
// lists
//--------------------------------------------------
.ul-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

//--------------------------------------------------
// positioning
//--------------------------------------------------
.inline-block { display: inline-block; }
.float-left { float: left; }

.vertical-center { 
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
}