//--------------------------------------------------
// colours
//--------------------------------------------------
$black: #000000;
$black-translucent: rgba(black, .5);
$white: #ffffff;

$blue-faint: #33548F;
$blue-light: #EDEEF1;
$blue: #2e425e;
$blue-dark: #293039;

$grey-light: #FAFAFB;
$grey: #D5D8E1;
$grey-dark: #606060;

$green: #398439;

$orange: #dc8f3d;

$theme-1: #2e425e;
$theme-2: #0b9086;
$theme-3: #2e504e;
$theme-4: #6e618e;
$theme-5: #156d96;

$red-required: #e75350;

$primary: $blue-dark;
$secondary: $orange;

//--------------------------------------------------
// fonts
//--------------------------------------------------
$noto-sans: 'Noto Sans', sans-serif;

$body-font: $noto-sans;
$body-font-color: $black;

//--------------------------------------------------
// dimensions
//--------------------------------------------------
$site-width: rem-calc(1200);
$site-width-medium: $site-width * .80;
$site-width-small: $site-width * .60;

$z-100: 100;
$z-200: 200;
$z-300: 300;

//--------------------------------------------------
// buttons
//--------------------------------------------------
$radius-global: rem-calc(7);
$radius-link: rem-calc(22);

//--------------------------------------------------
// breakpoints
//--------------------------------------------------
$small: rem-calc(720);
$medium: $site-width;

//--------------------------------------------------
// padding
//--------------------------------------------------
$gutter-small: rem-calc(11); 
$gutter-medium: rem-calc(18);
