//--------------------------------------------------
// colours
//--------------------------------------------------
$black: #000000;
$black-translucent: rgba(black, .5);
$white: #ffffff;

$blue-faint: #33548F;
$blue-light: #EDEEF1;
$blue: #2e425e;
$blue-dark: #293039;
$blue-link: #2D51B4;

$grey-light: #FAFAFB;
$grey: #D5D8E1;
$grey-dark: #606060;

$green: #398439;

$orange: #dc8f3d;

$theme-1: #2e425e;
$theme-2: #0b9086;
$theme-3: #2e504e;
$theme-4: #6e618e;
$theme-5: #156d96;

$red-required: #e75350;

$primary: $blue-dark;
$secondary: $orange;

//--------------------------------------------------
// fonts
//--------------------------------------------------
$noto-sans: 'Noto Sans', sans-serif;

$body-font: $noto-sans;
$body-font-color: $black;
$body-font-size: rem-calc(16);

$header-lh: 1.4;

//--------------------------------------------------
// dimensions
//--------------------------------------------------
$site-width-px: 1200;
$site-width: rem-calc($site-width-px);
$site-width-medium: $site-width * .80;
$site-width-small: $site-width * .60;

//--------------------------------------------------
// buttons
//--------------------------------------------------
$radius-global: rem-calc(7);
$radius-link: rem-calc(22);

//--------------------------------------------------
// breakpoints
//--------------------------------------------------
$small: 720;
$medium: $site-width-px;

//--------------------------------------------------
// padding
//--------------------------------------------------
$gutter-small: rem-calc(11);
$gutter-medium: rem-calc(18);
$gutter-large: rem-calc(24);

$section-padding-top-mobile: 18px;
$section-padding-top-tablet: 24px;
$section-padding-top-desktop: 30px;

$section-padding-bottom-mobile: 18px;
$section-padding-bottom-tablet: 24px;
$section-padding-bottom-desktop: 30px;

$item-padding-small: rem-calc(18);
$item-padding-medium: rem-calc(26);
$item-padding-large: rem-calc(32);

//--------------------------------------------------
// z-index
//--------------------------------------------------
$z-behind: -1000;
$z-default: 0;
$z-banner: 600;
$z-sticky: 700;
// terms from https://mui.com/material-ui/customization/z-index/
$z-mobile-stepper: 1000;
$z-fab: 1050;
$z-speed-dial: 1050;
$z-app-bar: 1100;
$z-drawer: 1200;
$z-modal: 1300;
$z-snackbar: 1400;
$z-tooltip: 1500;
