//--------------------------------------------------
// colours
//--------------------------------------------------
$black: #000000;
$black-translucent: rgba(black, .5);

$blue-faint: #33548F;
$blue-light: #EDEEF1;
$blue: #33548F;
$blue-dark: #293039;

$grey-light: #FAFAFB;
$grey: #D5D8E1;

$green: #398439;

$orange: #dc8f3d;

$theme-1: #2e425e;
$theme-2: #0b9086;
$theme-3: #2e504e;
$theme-4: #6e618e;
$theme-5: #156d96;

$primary: $blue-dark;
$secondary: $orange;

//--------------------------------------------------
// fonts
//--------------------------------------------------
$noto-sans: 'Noto Sans', sans-serif;

$body-font: $noto-sans;
$body-font-color: $black;

//--------------------------------------------------
// dimensions
//--------------------------------------------------
$site-width: rem-calc(1200);

//--------------------------------------------------
// buttons
//--------------------------------------------------
$radius-global: rem-calc(7);
$radius-link: rem-calc(22);