//--------------------------------------------------
// html elements
//--------------------------------------------------
body {
  font-family: $body-font;
}

//--------------------------------------------------
// site structure
//--------------------------------------------------
.site-width { width: $site-width; }

.container {
  @extend .site-width;

  margin: 0 auto;
}