//--------------------------------------------------
// flexbox
//--------------------------------------------------
.flex {
  display: flex;
}

//--------------------------------------------------
// columns
//--------------------------------------------------
.flex-2-fiths { flex: 1 0 40%; }
.flex-3-fiths { flex: 1 0 60%; }