//--------------------------------------------------
// flexbox
//--------------------------------------------------
.flex { display: flex; }
.flex-wrap { flex-wrap: wrap; }

//--------------------------------------------------
// columns
//--------------------------------------------------
.flex-1-half { flex: 1 0 50%; }

.flex-2-fiths { flex: 1 0 40%; }
.flex-3-fiths { flex: 1 0 60%; }