//--------------------------------------------------
// colours
//--------------------------------------------------
$black: #000000;

$theme-1: #2e425e;
$theme-2: #0b9086;
$theme-3: #2e504e;
$theme-4: #6e618e;
$theme-5: #156d96;

//--------------------------------------------------
// fonts
//--------------------------------------------------
$noto-sans: 'Noto Sans', sans-serif;

$body-font: $noto-sans;
$body-font-color: $black;