//--------------------------------------------------
// colours
//--------------------------------------------------
$black: #000000;

$blue-faint: #33548F;
$blue-light: #EDEEF1;
$blue: #33548F;
$blue-dark: #172A4D;

$grey-light: #FAFAFB;
$grey: #D5D8E1;

$green: #398439;

$theme-1: #2e425e;
$theme-2: #0b9086;
$theme-3: #2e504e;
$theme-4: #6e618e;
$theme-5: #156d96;

//--------------------------------------------------
// fonts
//--------------------------------------------------
$noto-sans: 'Noto Sans', sans-serif;

$body-font: $noto-sans;
$body-font-color: $black;

//--------------------------------------------------
// dimensions
//--------------------------------------------------
$site-width: rem-calc(1160);