//--------------------------------------------------
// colours
//--------------------------------------------------
$black: #000000;

//--------------------------------------------------
// fonts
//--------------------------------------------------
$noto-sans: 'Noto Sans', sans-serif;

$body-font: $noto-sans;
$body-font-color: $black;