<%= render partial: 'home/partials/header', locals: { title: title } %>

<div class="padding--page">
  <div class="container">
    <h2 class="heading--home center"><%= theme_title %></h2>
  </div>

  <div class="site-width-medium margin-center flex flex-wrap flex-h-between">
    <% themes.each do |theme| %>
      <%= render partial: '/home/partials/theme', locals: { theme: theme } %>
    <% end %>
  </div>
</div>