<div class="container--medium padding--page-top padding--content-bottom intro">
  <p><%= about.html_safe %></p>
</div>

<% themes.each do |theme| %>
  <%= render partial: '/home/partials/theme', locals: { theme: theme } %>
<% end %>
