.accordion {
  margin-bottom: rem-calc(20);

  &-item {
    margin-bottom: rem-calc(12);

//--------------------------------------------------
// title
//--------------------------------------------------
    &__title {
      background-color: $primary;
      color: white;
      cursor: pointer;
      font-size: rem-calc(24);
      font-weight: bold;
      padding: rem-calc(24);

      display: block;
      position: relative;

      &:hover { background-color: rgba($primary, .7) }

      &:after {
        @extend .icon--plus;
        @extend .vertical-center;

        background-position: center;
        background-repeat: no-repeat;
        content: '';
        width: rem-calc(30); height: rem-calc(30);
      
        display: block;
        right: rem-calc(28);

        .accordion-item--active & { @extend .icon--minus; }
      }
    }

  //--------------------------------------------------
  // content
  //--------------------------------------------------
    &__content {
      line-height: 1.8;
      padding: rem-calc(22 14 10 14);

      p { width: 60%; }
    }
  }
};