.accordion {
  margin-bottom: rem-calc(20);

  &-item {
    margin-bottom: rem-calc(12);

//--------------------------------------------------
// title
//--------------------------------------------------
    &__title {
      background-color: $primary;
      color: white;
      cursor: pointer;
      font-size: rem-calc(18);
      font-weight: bold;
      padding: rem-calc(14);

      display: block;
      position: relative;
      
      @include breakpoint($small){
        font-size: rem-calc(22);
        padding: rem-calc(22);
      }

      @include breakpoint($medium){
        font-size: rem-calc(24);
        padding: rem-calc(24); 
      }

      &:hover { background-color: rgba($primary, .7) }

      &:after {
        @extend .icon--plus;
        @extend .vertical-center;
      
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        width: rem-calc(18); height: rem-calc(18);
      
        display: block;
        right: rem-calc(14);

        @include breakpoint($small){
          width: rem-calc(26); height: rem-calc(26);

          right: rem-calc(22);
        }

        @include breakpoint($medium){
          width: rem-calc(30); height: rem-calc(30);

          right: rem-calc(28);
        }

        .accordion-item--active & { @extend .icon--minus; }
      }
    }

  //--------------------------------------------------
  // content
  //--------------------------------------------------
    &__content {
      padding: rem-calc(16) $gutter-small rem-calc(8) $gutter-small;

      @include breakpoint($small){ 
        line-height: 1.8;
        padding: rem-calc(22 14 10 14); 
      }

      p { width: 60%; }
    }
  }
};