//--------------------------------------------------
// variables
//--------------------------------------------------
$color-active: $secondary;
$color-text-active: $black;

//--------------------------------------------------
// search
//--------------------------------------------------
@import './search';

//--------------------------------------------------
// filters
//--------------------------------------------------
.filters {
  
//--------------------------------------------------
// clear
//--------------------------------------------------
  &__clear {
    font-weight: bold;
    cursor: pointer;
    outline: none;

    &:before {
      @extend .icon--clear;
      background-size: cover; 
      content: '';
      margin-right: rem-calc(7);
      width: rem-calc(18); height: rem-calc(18);

      display: inline-block;
      position: relative;
      top: rem-calc(4);
    }
  }
}

//--------------------------------------------------
// filter
//--------------------------------------------------
.filter {
  margin-right: rem-calc(20);

  display: inline-block;
  position: relative;

  &__title {
    font-size: rem-calc(20);
    margin-right: rem-calc(20);
  }

//--------------------------------------------------
// button
//--------------------------------------------------
  &__button {
    border: solid rem-calc(1) $black;
    color: $black;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    padding:rem-calc(9 36 10 12);

    position: relative;

    &:hover { border-color: $color-active; }

    &:after {
      @extend .vertical-center;
      background-image: image-url('icons/arrow-down-black.svg');
      content: '';
      margin: rem-calc(2 0 0 7);
      width: rem-calc(8); height: rem-calc(6);

      right: rem-calc(17);
    }
    
    &--active {
      border-color: $color-active;

      &:after,
      &:hover:after { background-image: image-url('icons/arrow-up-black.svg'); }
    }

    &--has-selected {
      color: $color-text-active;
      
      &:after,
      &:hover:after { content: none; }
    }

      &-total {
        @extend .vertical-center;
        background-color: $color-active;
        border-radius: 100%;
        color: $black;
        font-size: rem-calc(18);
        text-align: center;
        width: rem-calc(24); height: rem-calc(24);

        display: block;

        position: absolute;
        right: rem-calc(7);
      }
  }

//--------------------------------------------------
// options
//--------------------------------------------------
  &__options {
    background-color: white;
    border: solid rem-calc(1) $black;
    border-radius: $radius-global;
    font-size: rem-calc(16);
    
    grid-template-rows: 1fr auto;
    display: none;
    position: fixed;
    top: $gutter-small;
    right: $gutter-small;
    bottom: $gutter-small;
    left: $gutter-small;
    z-index: 1;

    @include breakpoint($small) {
      margin-top: rem-calc(18);
      overflow: hidden;
      min-width: rem-calc(300);

      position: absolute;
      top: inherit; // must be inherit for IE
      right: inherit; // must be inherit for IE
      bottom: inherit; // must be inherit for IE
      left: inherit; // must be inherit for IE

    }

    .filter:last-child & {
      // @include breakpoint($small) { right: 0; }
    }

    &--active {
      display: flex;
      flex-direction: column;
    }

    &--resource { 
      @include breakpoint($small){ width: rem-calc(500); }
    }

    &--search {
      height: calc(100% - 65px);

      @include breakpoint($small) { height: auto; }
    }

    &-list {
      height: calc(100% - 55px);
      overflow-y: scroll;
      overflow-x: hidden; //for IE11

      @include breakpoint($small) {
        height: auto;
        max-height: rem-calc(300);   
      }

      &--search { 
        margin-bottom: rem-calc(25);
  
        @include breakpoint($small) { margin-bottom: 0; }
      }
    }

    &-padding { padding: rem-calc(30 25 0 25); }
  }

    &__option {
      font-size: rem-calc(16);
      margin-bottom: rem-calc(16);
      padding: rem-calc(0 20 0 0);
      width: 100%;

      display: block;
      position: relative;

      label { cursor: pointer; }
    }

    &__option--checkbox {
      @extend .filter__option;
      padding-left: rem-calc(38);
    }

//--------------------------------------------------
// checkbox
//--------------------------------------------------
      &__checkbox {
        border: solid rem-calc(1) $grey;
        cursor: pointer;
        width: rem-calc(22); height: rem-calc(22);

        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;

        display: block;
        position: absolute;
        top: rem-calc(-2);
        left: 0;

        &--active:after {
          background: $color-active image-url('icons/tick.svg') center no-repeat;
          content: '';
          width: rem-calc(22); height: rem-calc(22);

          display: block;
        }
      }

      &_checkbox-label {
        display: inline-block;
      }

  &__buttons {
    margin-top: auto;
    padding: rem-calc(20 25 30 25);
    text-align: right;

    justify-self: flex-end;
  }

//--------------------------------------------------
// radio
//--------------------------------------------------
      &__radio {

        &--active {
          background-color: $color-active;
        }
      }
//--------------------------------------------------
// search
//--------------------------------------------------
  &--search {
    @include create_search();
    width: 100%; 

    .search__input {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border: none;
      border-bottom: 1px solid grey;
      padding: rem-calc(0 56 0 25);
      width: 100%; height: rem-calc(56);  
    }

    .search__icon {
      width: rem-calc(50); height: rem-calc(56);
    }
  }

    &--search-label {
      cursor: pointer;
      padding: rem-calc(9 30);

      display: block;

      &:hover {
        background-color: lighten($color-active, 30%);
      }

      &--active,
      &--active:hover {
        background-color: $color-active;
      }
    }
}