//--------------------------------------------------
// popout
//--------------------------------------------------
.popout {

//--------------------------------------------------
// popout trigger
//--------------------------------------------------
  &__trigger {
    cursor: pointer;
    
    @include breakpoint($small) { display: none; }  
  }
//--------------------------------------------------
// popout target
//--------------------------------------------------
  &__target {
    display: none;

    @include breakpoint($small) { display: block; }

    .popout--active & { display: block; }
  }
}