//--------------------------------------------------
// variables
//--------------------------------------------------
$firstColumn: 116;
$hoverColor: $grey;

//--------------------------------------------------
// table
//--------------------------------------------------
.table {

//--------------------------------------------------
// table head
//--------------------------------------------------
  &__head {
    background-color: $blue-dark;
    color: white;

    &:first-child { border-left: none; }
  }

//--------------------------------------------------
// columns
//--------------------------------------------------
// fix the columns widths so that they don't change
// size when you use the pagination 

  th,td {
    border-left: solid white rem-calc(1);
    padding: rem-calc(16 14);
    text-align: left;

    &:first-child { width: $firstColumn + px; }
    &:nth-child(2) { width: 134px; }
    &:nth-child(3) { width: 104px; }
    &:nth-child(4) { width: 218px; }
    &:nth-child(5) { width: 99px; }
    &:nth-child(6) { width: 122px; }
    &:nth-child(7) { width: 122px; }
    &:nth-child(8) { width: 244px; }
  }

//--------------------------------------------------
// row
//--------------------------------------------------
  &__row-wrapper {
    &:nth-child(odd){ 
      .table__row { 
        background-color: $grey-light; 

        &:hover { background-color: $hoverColor; }
      }
    }
  }

    &__row {
      background-color: white;
      border-top: solid white rem-calc(1);

      &:hover { background-color: $hoverColor; }
      
      &--active { 
        background-color: $hoverColor; 
        border-bottom: solid white rem-calc(1);

        .table__row-wrapper:nth-child(odd) & { 
          background-color: $hoverColor; 
          border-bottom: solid white rem-calc(1);
        }
      }

//--------------------------------------------------
// expandable section
//--------------------------------------------------
      &--expandable {
        background-color: $hoverColor;
        border-left: solid white rem-calc(1);
        padding: rem-calc(0 14 0 $firstColumn + 14);
      }
    }

//--------------------------------------------------
// themes
//--------------------------------------------------
        &__themes {
          padding-bottom: rem-calc(30);
        }

          &__theme {
            align-items: center;
            margin-bottom: rem-calc(8);
          }

          &__theme-icon {
            margin-right: rem-calc(4);
          }

          &__theme-title {
            margin-left: rem-calc(4);
            width: 80%;

            display: inline-block;

            &:first-letter { text-transform: capitalize; }
          }
  }