//--------------------------------------------------
// variables
//--------------------------------------------------
$hoverColor: $grey;

%row-template {
  grid-template-columns: 1fr;
  display: grid;

  @include breakpoint($medium) { grid-template-columns: 1fr 1fr 1fr 2fr; }
}

//--------------------------------------------------
// table
//--------------------------------------------------
.table {

  &--head { 
    margin-top: rem-calc(30);
    height: rem-calc(64);  // must match height of the <head> tag

    position: relative;
  }

  &--body { 
    border-bottom: solid rem-calc(2) $grey;
    margin-bottom: rem-calc(40);
  }

//--------------------------------------------------
// table head
//--------------------------------------------------
  &__head {
    background-color: $blue-dark;
    color: white;

    &:first-child { border-left: none; }

    &--stuck {
      position: fixed;
      top: 0;

      width: calc(100% - #{$gutter-small * 2});

      animation: showHeader .25s forwards linear;

      @include breakpoint($medium) { width: rem-calc(1160); }
    }
  }
    
    &__header {
      margin-right: rem-calc(2);
      vertical-align: middle;

      display: inline-block;
    }

      &__button {
        position: absolute; 
        top: 50%;
        right: rem-calc(9);

        transform: translateY(-50%);
      }

//--------------------------------------------------
// columns
//--------------------------------------------------
// fix the columns widths so that they don't change
// size when you use the pagination 

  th,td { text-align: left;}

  th { padding: rem-calc(20 14); }

  td { 
    padding: rem-calc(14);
    vertical-align: middle;

    &:nth-child(3) { font-weight: bold; }
  }

//--------------------------------------------------
// row
//--------------------------------------------------
  &__row-wrapper {
    &:nth-child(odd){ 
      .table__row { 
        background-color: $grey-light; 

        &:hover { background-color: $hoverColor; }
      }
    }
  }
  
    &__row {
      @extend %row-template;
      background-color: white;
      cursor: pointer;

      &:hover { background-color: $hoverColor; }

      &--head { @extend %row-template; }
      
      &--active { 
        background-color: $hoverColor; 

        .table__row-wrapper:nth-child(odd) & { 
          background-color: $hoverColor;
        }
      }

      &--expandable {
        background-color: $hoverColor;
        overflow: hidden;
        height: auto;
        max-height: 0;

        display: grid;
        grid-template-columns: 1fr;

        transition: max-height .3s ease-in-out;

        @include breakpoint($medium) { grid-template-columns: 2fr 3fr; }

        h3 { margin-top: rem-calc(18); }
      }

        &--expandable__td {
          &:first-child { 
            padding: rem-calc(18 14 0 14); 

            @include breakpoint($medium) { padding: rem-calc(18 14); }
          }

          &:last-child { 
            padding: rem-calc(0 14); 

            @include breakpoint($medium) { padding: rem-calc(18 14); }
          }
        }

      &--open {
        border-top: solid white rem-calc(1);
        max-height: rem-calc(610);

        @include breakpoint($medium) { max-height: rem-calc(310); }
      } 
    }

//--------------------------------------------------
// sort
//--------------------------------------------------
    &__sorting {
      opacity: .7;
      vertical-align: middle;

      display: inline-block;

      &:hover { opacity: .9; }
    }

      &__sort {
        background-image: image-url('icons/sort.svg');
        cursor: pointer;
        width: rem-calc(8); height: rem-calc(13);

        display: block;
      }

//--------------------------------------------------
// themes
//--------------------------------------------------
        &__themes {
          padding-bottom: rem-calc(30);
        }
          
          &__themes-list { 
            width: 100%; 

            display: grid;
            grid-template-columns: 1fr;

            @include breakpoint($medium) { grid-template-columns: 1fr 1fr; }
          }

            //N.B flexbox layout doesn't work in IE so going back to using float
            &__theme { 
              margin-bottom: rem-calc(8);

              // float: left;
            }

                &__theme-icon {
                  margin-right: rem-calc(4);
                }

                &__theme-title {
                  margin-left: rem-calc(8);
                  width: 80%;

                  display: inline-block;

                  &:first-letter { text-transform: capitalize; }
                }
  }