//--------------------------------------------------
// topbar
//--------------------------------------------------
.topbar {
  background-color: $black-translucent;
  color: white;
  padding: rem-calc(13) $gutter-small rem-calc(14);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: $z-app-bar;

  @include breakpoint($small){ padding: rem-calc(17 20 16 20); }

  &__logo {
    width: rem-calc(94); height: rem-calc(33);

    display: block;

    @include breakpoint($small){ width: rem-calc(140); height: rem-calc(48); }
    @include breakpoint($medium){ width: rem-calc(183); height: rem-calc(63); }
  }
}