<%= render partial: 'global/header', locals: { title: 'Metadata list' } %>

<div class="container">
  <div class="padding--page">
    <metadata
      data-src="/metadata-list"
      :table-headers="<%= @table_headers %>"
      :items-per-page="10">
    </metadata>
  </div>
</div>
