<%= render partial: 'global/header', locals: { title: t('global-resources.title'), intro: t('global-resources.intro') } %>

<div class="container">
  <div class="padding--page">
    <metadata
      data-src="/metadata-list"
      post="/download"
      :table-headers="<%= @table_headers %>"
      :items-per-page="10">
    </metadata>
  </div>
</div>
