<% content_for :title do %>
  Metadata list
<% end %>

<div class="page-padding">

  <accordion>
    <accordion-item>
      <a href=""></a>
      <div></div>
    </accordion-item>
  </accordion>

  <filters :filters="<%= @filters %>"></filters>

  <v-table :filters="<%= @filters %>" :metadata="<%= @metadata %>"></v-table>

  <pagination :items-per-page="10"></pagination>
  
</div>