<% content_for :title do %>
  Metadata list
<% end %>

<div class="container">
  <div class="padding--page">

    <filters :filters="<%= @filters %>"></filters>

    <v-table :filters="<%= @filters %>" :metadata="<%= @metadata %>"></v-table>

    <pagination :items-per-page="10"></pagination>
    
  </div>
</div>