<% content_for :title do %>
  Metadata list
<% end %>

<div class="page-padding">

  <filters :filters="<%= @filters %>"></filters>

  <v-table :filters="<%= @filters %>" :metadata="<%= @metadata %>"></v-table>
  
</div>