//--------------------------------------------------
// footer
//--------------------------------------------------
.footer {
  background-color: $primary;
  color: white;
  padding: rem-calc(0 36);
  width: 100%; height: rem-calc(77);
  
  align-items: center;
  display: flex;

  &__logo {
    width: rem-calc(105); height: rem-calc(36);
  }
}