//--------------------------------------------------
// footer
//--------------------------------------------------
.footer {
  background-color: $primary;
  color: white;
  font-size: rem-calc(13);
  padding: rem-calc(0) $gutter-small;
  width: 100%; height: rem-calc(77);

  align-items: center;
  display: flex;

  @include breakpoint($small) {
    font-size: rem-calc(16);
  	padding: rem-calc(0 36);
  }

  &__logo {
    width: rem-calc(80); height: rem-calc(28);

    @include breakpoint($small) { width: rem-calc(105); height: rem-calc(36); }

    &--wcmc, &--geobon, &--proteus {
      margin-right: rem-calc(12);
      width: rem-calc(85); height: rem-calc(28);

      @include breakpoint($small) {
        margin-right: rem-calc(22);
        width: rem-calc(110); height: rem-calc(36);
      }
    }
  }
}
