//--------------------------------------------------
// footer
//--------------------------------------------------
.footer {
  @include flex-column;
  background-color: $primary;
  color: $white;
  font-size: rem-calc(13);
  padding: rem-calc(20) $gutter-small;
  width: 100%;
  
  display: flex;
  align-items: center;

  @include breakpoint($small) {
    @include flex-row;
    font-size: rem-calc(16);
  	padding: rem-calc(0 36);
    height: rem-calc(77);
  }

  &__logos {
    @include flex;
    @include flex-wrap;
    @include flex-h-center;

    @include breakpoint($small) { @include flex-nowrap; }
  }

    &__partner-logos {
      padding: rem-calc(20 0 12 0);

      @include breakpoint($small) { padding: 0; }
    }

      &__link { text-decoration: none; }

        &__logo {
          width: rem-calc(80); height: rem-calc(28);

          @include breakpoint($small) { width: rem-calc(90); height: rem-calc(34); }
          @include breakpoint($medium) { width: rem-calc(105); height: rem-calc(36); }

          &--wcmc,
          &--geobon,
          &--proteus,
          &--panorama {
            margin-right: rem-calc(12);
            width: rem-calc(60); height: rem-calc(20);

            @include breakpoint($small) {
              margin-right: rem-calc(20);
              width: rem-calc(90); height: rem-calc(34);
            }

            @include breakpoint($medium) {
              margin-right: rem-calc(22);
              width: rem-calc(110); height: rem-calc(36);
            }
          }
        }
}

