//--------------------------------------------------
// header
//--------------------------------------------------
.header {
  background-color: $primary;
  height: rem-calc(451);
  
  align-items: center;
  display: flex;

  &__title {
    margin-top: rem-calc(77); //match the height of the topbar
    margin-right: rem-calc(160);

    h1 {
      padding: rem-calc(24 45 30 160);

      display: inline-block;
      position: relative;
      z-index: 0;

      &:before {
        background-color: $black-translucent;
        content: '';
        width: rem-calc(2000); height: 100%;
        
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
      }
    }
  }
}