//--------------------------------------------------
// header
//--------------------------------------------------
// - global
// - theme
// - hero images
//--------------------------------------------------
// global header
//--------------------------------------------------
.header {
  background-color: $primary;
  background-size: cover;
  height: rem-calc(451);
  
  align-items: center;
  display: flex;

  &__title {
    margin-top: rem-calc(77); //match the height of the topbar
    margin-right: rem-calc(160);

    h1 {
      padding: rem-calc(24 45 30 160);

      display: inline-block;
      position: relative;
      z-index: 0;

      &:before {
        background-color: $black-translucent;
        content: '';
        width: rem-calc(2000); height: 100%;
        
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
      }
    }
  }

//--------------------------------------------------
// theme header
//--------------------------------------------------
  &--theme {
    color: white;
    padding: rem-calc(170 0 120 0);

    h1 { margin: rem-calc(10 0 22 0); }

    &__intro { margin-bottom: rem-calc(24); }

    &__icon {
      width: rem-calc(66); height: rem-calc(66);
    }
  }

//--------------------------------------------------
// hero images
//--------------------------------------------------
  &--home { background-image: image-url('hero/turtle.jpg'); }
  &--metadata { background-image: image-url('hero/coral.jpg'); }
  &--data-limitations { background-image: image-url('hero/river.jpg'); }
}