//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin header-text-background {
  color: $white;

  position: relative;
  z-index: 0;

  &::before {
    background-color: $black-translucent;
    content: '';
    width: rem-calc(2000); height: 100%;
    
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

//--------------------------------------------------
// global header
//--------------------------------------------------
.header {
  background-color: $primary;
  background-position: center;
  background-size: cover;
  min-height: rem-calc(250);

  display: flex;
  align-items: center;

  @include breakpoint($small) { min-height: rem-calc(390); }
  @include breakpoint($medium) { min-height: rem-calc(500); }

  a { color: inherit; }

  &__content {
    margin-top: rem-calc(60); //match the height of the topbar
      
    @include breakpoint($small) { margin-top: rem-calc(81); } //match the height of the topbar
    @include breakpoint($medium) { 
      margin-top: rem-calc(96); //match the height of the topbar
      margin-bottom: rem-calc(40);
    } 
  }

    &__title {
      @include header-text-background;
      margin: rem-calc(30 0);
      padding: rem-calc(14 25 18 0);

      display: inline-block;

      @include breakpoint($small) { padding: rem-calc(20 35 24 24); }
      @include breakpoint($medium) { padding: rem-calc(24 45 30 $gutter-large); }
    }

    &__intro {
      @include header-text-background;
      margin-bottom: rem-calc(30);
      padding: rem-calc(10 25 14 0);

      @include breakpoint($small) { 
        padding: rem-calc(16 20 10 24); 
        width: 80%;
      }

      @include breakpoint($medium) { 
        font-size: rem-calc(18);
        padding: rem-calc(20 20 10 $gutter-large); 
      }
    }
}

//--------------------------------------------------
// home header
//--------------------------------------------------
.header--home {    
  background-image: image-url('hero/turtle.jpg');
  background-position: center;
  background-size: cover;
  padding-top: rem-calc(80);
  
  @include breakpoint($small) { 
    padding-top: rem-calc(120); 
  }

  @include breakpoint($medium) { padding-top: rem-calc(180); }

  h1 { margin-bottom: .5em; }

  .header {
    &__video {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;

      display: none;
      position: absolute;
      bottom: 0;
      left: 50%;

      transform: translateX(-50%);
    
      @include breakpoint($medium) {
        display: block;
      }
    }

    &__content {
      background-color: $black-translucent;
      color: $white;
      margin: auto;
      font-size: rem-calc(16);
      padding: rem-calc(14 25 18 25);
      text-align: center;

      position: relative;
      z-index: 1;

      @include breakpoint($small) { 
        font-size: rem-calc(20);
        padding: rem-calc(42 60); 
      }
    }
  }
}

//--------------------------------------------------
// theme header
//--------------------------------------------------
.header--theme {
  background-position: center;
  background-size: cover;
  color: $white;
  padding: rem-calc(90 0 40 0);

  @include breakpoint($small) { padding: rem-calc(170 0 120 0); }

  h1 { margin: rem-calc(10 0 22 0); }

  &__intro { 
    margin-bottom: rem-calc(24); 
  }

  &__icon {
    width: rem-calc(66); height: rem-calc(66);
  }
}

//--------------------------------------------------
// hero images
//--------------------------------------------------
.header--contact { background-image: image-url('hero/shark.jpg'); }
.header--data-limitations { background-image: image-url('hero/river.jpg'); }
.header--ecosystem-assessment { background-image: image-url('hero/ecosystem-assessment.jpg'); }
.header--ecosystem-services { background-image: image-url('hero/ecosystem-services.jpg'); }
.header--education { background-image: image-url('hero/education.jpg'); }
.header--environmental-impact-assessment { background-image: image-url('hero/environmental-impact-assessment.jpg'); } 
.header--marine-spatial-planning { background-image: image-url('hero/marine-spatial-planning.jpg'); }
.header--metadata { background-image: image-url('hero/coral.jpg'); } 
.header--region { background-image: image-url('hero/regional-metadata.jpg'); } 
