//--------------------------------------------------
// icons
//--------------------------------------------------
.icon {

  &--round {
    border-radius: 100%;
    width: rem-calc(39); height: rem-calc(39);
    text-align: center;

    display: inline-block;
  }

  &--plus { background-image: image-url('icons/plus.svg'); }

  &--minus { background-image: image-url('icons/minus.svg'); }

  &--theme {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    margin-right: rem-calc(4);

    display: inline-block;

    &-marine-spatial-planning { 
      background-image: image-url('icons/placeholder.svg');

      &.icon--round { 
        background-color: $theme-1; 
        background-size: rem-calc(23);
      }
    }
    
    &-education { 
      background-image: image-url('icons/placeholder.svg');

      &.icon--round { 
        background-color: $theme-2; 
        background-size: rem-calc(23);
      }
    }

    &-ecosystem-assessment { 
      background-image: image-url('icons/placeholder.svg');

      &.icon--round { 
        background-color: $theme-3;
        background-size: rem-calc(23);
      }
    }

    &-environmental-impact-assessment { 
      background-image: image-url('icons/placeholder.svg');

      &.icon--round { 
        background-color: $theme-4; 
        background-size: rem-calc(23);
      }
    }

    &-ecosystem-services { 
      background-image: image-url('icons/placeholder.svg');

      &.icon--round { 
        background-color: $theme-5; 
        background-size: rem-calc(23);
      }
    }
  }

//--------------------------------------------------
// social
//--------------------------------------------------
  &--social {
    background-position: center;
    background-repeat: no-repeat;
    padding: rem-calc(12);
    width: rem-calc(58); height: rem-calc(58);

    display: block;

    &:hover { opacity: .75; }

    &-facebook { background-image: url('icons/facebook.svg'); }
    &-email { background-image: url('icons/email.svg'); }
    &-twitter { background-image: url('icons/twitter.svg'); }
    &-linkedin { background-image: url('icons/linkedin.svg'); }
  }
}