//--------------------------------------------------
// icons
//--------------------------------------------------
.icon {

  &--round {
    border-radius: 100%;
    width: rem-calc(39); height: rem-calc(39);
    text-align: center;

    display: inline-block;
  }

  &--theme {
    margin-right: rem-calc(4);
    color: white;

    &-marine-spatial-planning { 
      &.icon--round { background-color: $theme-1; }
    }

    &-environmental-impact-assessment { 
      &.icon--round { background-color: $theme-2; }
    }

    &-education { 
      &.icon--round { background-color: $theme-3; }
    }

    &-ecosystem-services { 
      &.icon--round { background-color: $theme-4; }
    }

    &-ecosystem-assessment { 
      &.icon--round { background-color: $theme-5; }
    }

  }
}