//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin logo-basic() {
  margin: rem-calc(14) rem-calc(20);
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.logos {
  @include flex-wrap;

  @include breakpoint($medium) { @include flex-nowrap; }

  &__header {
    font-size: rem-calc(16);
    line-height: $header-lh;
    margin-bottom: 0;
  }
}

.logo {
  &--cpps {
    @include logo-basic();
    width: 70px; height: 70px;
  }
  
  &--fao {
    @include logo-basic();
    width: 170px; height: 58px;
  }

  &--gef {
    @include logo-basic();
    width: 50px; height: 58px;
  }

  &--nairobi-convention {
    @include logo-basic();
    width: 58px; height: 58px;
  }

  &--unep {
    @include logo-basic();
    width: 76px; height: 76px;
  }
}