//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin logo-basic() {
  margin: rem-calc(14 20);
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.logos {
  @include flex-wrap;

  @include breakpoint($medium) { @include flex-nowrap; }

  &__header {
    font-size: rem-calc(16);
    line-height: $header-lh;
    margin-bottom: 0;
  }
}

.logo {
  &--common-oceans {
    @include logo-basic();
    width: rem-calc(116); height: rem-calc(58);
  }

  &--cpps {
    @include logo-basic();
    width: rem-calc(70); height: rem-calc(70);
  }

  &--nairobi-convention {
    @include logo-basic();
    width: rem-calc(58); height: rem-calc(58);
  }

  &--unep {
    @include logo-basic();
    width: rem-calc(76); height: rem-calc(76);
  }
}