//--------------------------------------------------
// theme
//--------------------------------------------------
.theme {
  border-bottom: solid white rem-calc(3);
  color: white;
  padding: rem-calc(50 0);
}