//--------------------------------------------------
// theme
//--------------------------------------------------
.theme {
  color: white;
  margin: 1%;
  padding: rem-calc(30);

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) { 
    width: 100%;

    @include breakpoint($medium) { width: 31%; }
  }

  &:nth-child(4),
  &:nth-child(5) { 
    width: 100%;

    @include breakpoint($medium) { width: 48%; }
  }

  &__icon {
    margin-bottom: rem-calc(18);
    width: rem-calc(70); height: rem-calc(70);

    display: block;

    @include breakpoint($small){
      margin-bottom: 0;
      width: rem-calc(90); height: rem-calc(90);
    }

    @include breakpoint($medium){ width: rem-calc(122); height: rem-calc(122); }
  }

  &__copy {
    margin-bottom: rem-calc(20);
  }

  &__button {
    font-size: rem-calc(16);
    margin: auto auto 0 auto;
  }
}