<div class="banner-background">
  <div class="banner">
    <div class="banner__title">
      <p class="banner__text"> <%= image_tag("icons/triangle-alert.svg", class: "banner__alert") %>  Changes to Ocean+ Library </p>
    </div>
    <div class="banner__content">
      <p> UNEP-WCMC are planning to restructure the Ocean+ Library platform by the end of 2024. A condensed database of the resources accessible on Ocean+ Library will instead be available on the <%= link_to "UNEP-WCMC Resources page", 'https://resources.unep-wcmc.org/', class: "banner__content", style: "text-decoration: underline", target: "_blank" %>. We would love your feedback on this proposed restructure in the <strong>survey pop-up below</strong>.</p>
    </div>
  </div>
</div>
