<div class="banner-background">
  <div class="banner">
    <div class="banner__title">
      <p class="banner__text"> <%= image_tag("icons/triangle-alert.svg", class: "banner__alert") %>  Changes to Ocean+ Library </p>
    </div>
    <div class="banner__content">
      <p>
        Ocean+ Library will be retired in 2025. To learn more about these changes, please read our
        <modal-launcher wrapper-component="span">
          <template slot="launcherContent">frequently asked questions.</template>
          <template v-slot:default="{ closeModal }">
            <modal-panel :close-modal="closeModal">
              <template slot="modalHeaderContent">
                <h2>Frequently Asked Questions</h2>
              </template>
              <template slot="default">
                <%= render 'global/banner_faq' %>
              </template>
            </modal-panel>
          </template>
        </modal-launcher>
      </p>
      <p>
        A collection of all of the resources on Ocean+ Library will remain available on the
        <a target="_blank" href="https://resources.unep-wcmc.org/products/WCMC_DT007">UNEP-WCMC Resources</a>
        page.
      </p>
      <p>
        For the latest authoritative information on the status and conservation of the world's coastal habitats, please visit
        <a target="_blank" href="https://habitats.oceanplus.org/">Ocean+ Habitats</a>,
        which will continue to be updated.
      </p>
    </div>
  </div>
</div>
