<div class="cta text-center">
  <div class="cta__content">
    <h3>We welcome new additions!</h3>

    <p>Have an online resource related to ocean conservation and management? Submit it to be added here by contacting us via our <%= link_to 'contact form', contact_path, title: 'Contact us to contribute marine metadata', class: 'bold' %>.</p>

    <p class="italic cta__small">We update this website with new entries on a semi-annual basis.</p>
  </div>
</div>