<footer class="footer flex space-between f-v-center">
  <%= image_tag 'logos/logo-ocean-plus.svg', alt: 'Ocean+ logo', class: 'footer__logo' %>

  <span class="italic">&copy; Copyright <%= Date.today.year %></span>
</footer>