<header class="header header--<%= create_class(controller_name) %>">
  <div class="container header__content">

    <h1 class="header__title"><%= title %></h1>
    
    <% if defined? intro %>
      <div class="header__intro">
        <% intro.each do |p| %>
          <p><%= p.html_safe %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</header>
