<header class="header--theme background--<%= @headerClass %>">
  <div class="header--theme__title container--medium center">
    <i></i>
    <h1><%= @title %></h1>
    <p><%= @intro %></p>
    <%= link_to 'Metadata list', metadata_path, title: 'View the list of Metadata', class: 'button button--outline' %>
  </div>
</header>
