<div class="sticky">
  <popout>
    <template slot="link">
      <i class="icon--share icon--social"></i>
    </template>
    <template slot="popout"> 
      <%= create_social_twitter_link %>
      <%= create_social_linkedin_link %>
      <%= create_social_facebook_link %>
      <%= create_social_email_link %>
    </template>
  </popout>
</div>