<div class="topbar">
  <%= link_to '/', title: 'Ocean+' do %>
    <%= image_tag 'logos/logo-ocean-plus.svg', alt: 'Ocean+ logo' %>
  <% end %>

  <nav>
    <%= link_to 'Metadata list', metadata_path, class: 'topbar__nav-link topbar__nav-link--important' %>
    <%= link_to 'Data limitations', data_limitations_path, class: 'topbar__nav-link' %>
  </nav>
</div>