<div class="topbar">
  <img src="" alt="Logo">

  <nav>
    <%= link_to 'Metadata list', metadata_path, class: 'topbar__nav-link topbar__nav-link--important' %>
    <%= link_to 'Submit metadata', '/', class: 'topbar__nav-link' %>
    <%= link_to 'Data limitations', data_limitations_path, class: 'topbar__nav-link' %>
  </nav>
</div>